/* Charset */
@charset 'UTF-8';

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Poppins:wght@400;700&display=swap');

/* CSS Variables */
:root {
    
    --background-color: #fdfdfd;
    --main-color: #f18f01;
    --text-color: black;
    --dull-text-color: #555;
    --dark-grey: #222;
    --shadow-color: rgba(241, 143, 1, 0.5);
    --transparent: transparent;
    --background-gradient: linear-gradient(var(--main-color), rgb(0, 0, 0));
}

.dark_mode{
    --bakground-color: #1E1E1E;
    --text-color: white;
    --dull-text-color: #999;
}

/* Custom Scrollbar */
::-webkit-scrollbar{
    width: .4rem;
}

::-webkit-scrollbar-track{
    margin-block: .3rem;
}

::-webkit-scrollbar-thumb{
    background: var(--main-color);
    opacity: .5;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
    opacity: 1;
}

/* Common CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    transition: all .2s ease-in-out;
    outline: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Page CSS */
html{
    overflow-x: hidden;
}

body{
    background: var(--background-color);
    color: var(--black);
}

section{
    padding: 3rem 10%;
    min-height: 100vh;
}

.symbol{
    color: var(--main-color);
}

/* Header Section */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo{
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--main-color);
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin-right: auto;
}

.logo:hover{
    /* transform: translateY(-3px); */
    transform: scale(1.05);
    color: var(--main-color);
}

.navigation{
    display: flex;
    flex-wrap: wrap;
}

.navigation li{
    position: relative;
    margin: .5rem 1.5rem;
    padding: .3rem;
    transition: transform .4s ease-in-out;
}

.navigation li a{
    color: var(--text-color);
    font-size: 1.05rem;
    text-transform: uppercase;
}

.navigation li:hover a, 
.navigation li a.active{
    color: var(--main-color);
}

.navigation li:hover{
    transform: translateY(-2px);
}

.navigation li a.active::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
}

/* Hamburger */

/* Theme Switcher */
.theme-switcher{
    margin: 0 1rem;
}

.theme-switcher i{
    font-size: 1.5rem;
    color: var(--main-color);
    cursor: pointer;
    transition: all .3s ease-in;
}

.theme-switcher i:hover{
    transform: scale(.9);
}

/* Home Section */
.name{
    font-size: 4rem;
    text-transform: uppercase;
}